<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>

    <div class="panel-body">
        <form class="form-horizontal" novalidate (ngSubmit)="saveQuestion()" [formGroup]="questionForm" >
            <fieldset>

                <div class="form-inline">
                    <div class="form-group mb-1">
                        <label class="col-md-1 control-label" for="questionId">Id</label>

                        <div class="col-md-1">
                            <input formControlName="questionId" class="form-control" type="number" value="1" id="questionId">
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label class="col-md-2 control-label" for="categoryId">CategoryId </label>
                        <div class="col-md-4">
                            <select class="form-control" id="categoryId" formControlName="categoryId">
                                <!-- <option selected>Select a Category...</option> -->
                                <!-- <option value='1'>Những câu đánh dấu</option>
                                <option value="2">Những câu hay trả lời sai</option> -->
                                <option selected value="3">Khái Niệm Và Quy Tắc</option>
                                <!-- <option value="4">Nghiệp Vụ Vận Tải</option>
                                <option value="5">Đạo Đức Nghề Nghiệp</option>
                                <option value="6">Kỹ Thuật Lái Xe</option>
                                <option value="7">Cấu Tạo Và Sửa Chữa</option>
                                <option value="8">Hệ Thống Biển Báo</option>
                                <option value="9">Sa Hình</option> -->
                                <!-- <option value="10">Tất cả 450 câu hỏi</option> -->
                            </select>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label for="questionImage" class="col-md-1 col-form-label">Image</label>
                        <div class="col-md-2">
                            <input formControlName="questionImage" (change)="detectFiles($event)" type="file" class="form-control" id="questionImage" placeholder="Question Image">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-8">
                        <textarea class="form-control" id="questionName" placeholder="Question Name" formControlName="questionName"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-8">
                        <textarea class="form-control" id="inputQuestionExplain" placeholder="Question Explain" formControlName="questionExplain"></textarea>
                    </div>
                </div>

                <div class="col-md-12" formArrayName="answers" *ngFor="let answer of answers.controls; let i=index">
                    <div [formGroupName]="i">
                        <div class="form-group row">
                            <label for="{{'answerId'+i}}" class="col-md-2 col-form-label">Answer {{i}}</label>
                            <div class="col-md-2">
                                <input formControlName="answerId" class="form-control" type="number" value="{{i}}" id="{{'answerId'+i}}">
                            </div>
                            <div class="col-md-6">
                                <textarea formControlName="answerName" class="form-control" placeholder="Answer {{i}}" id="answerName"></textarea>
                            </div>
                            <div class="col-md-2">
                                <div class="form-check">
                                <input formControlName="isCorrect" class="form-check-input" type="checkbox" id="isCorrect">
                                <label class="form-check-label" for="answer">Is Correct?</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <button class="btn btn-info" type="button" (click)="addAnswer()" style="margin-right:10px">Add Answer</button>     
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <button class="btn btn-primary" type="submit" style="float:right;margin-left:10px" [disabled]='!questionForm.valid'>Save</button>    
                     </div>
                </div>
            </fieldset>
        </form>
        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
    </div>

</div>
